<div
  class="command-container"
  [ngClass]="{
    left: command.type == 'left',
    right: command.type == 'right',
    forward: command.type == 'forward',
    else: command.type == 'else',
    end: command.type == 'end'
  }"
>
  <div *ngIf="isInstruction(command.type)">
    <fa-icon [icon]="iconMap.get(command.type)!"></fa-icon>
  </div>
  <div *ngIf="!isInstruction(command.type)">
    <div *ngIf="command.type == 'end'">&#125;</div>
    <div *ngIf="command.type == 'else'">&#125; else &#123;</div>
  </div>
  <div class="delete" *ngIf="isDeletable && command.type != 'end'">
    <fa-icon (click)="delete()" [icon]="iconMap.get('delete')!"></fa-icon>
  </div>
</div>
