@import "./src/scss/variables";

.create-lobby-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .lobby-infos {
    width: 65%;
    height: 90%;
    background-color: $default-black;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;

    .start-game {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 20px;
      right: 35px;
      width: 250px;
      height: calc(8vw - 40px);
      border-radius: 15px;
      background-image: linear-gradient(
        to top right,
        rgb(99, 255, 169),
        rgb(90, 243, 177),
        rgb(81, 230, 185),
        rgb(72, 218, 192),
        rgb(63, 206, 200),
        rgb(54, 193, 208),
        rgb(45, 181, 216),
        rgb(36, 168, 224),
        rgb(27, 156, 232),
        rgb(18, 144, 239),
        rgb(9, 131, 247),
        rgb(0, 119, 255)
      );
      font-size: 2em;
      font-family: "JetBrains Mono", monospace;
      color: #fff;
      cursor: pointer;
      transition: all 250ms ease-in;
    }

    .start-game:hover {
      transform: scale(105%);
    }

    .lobby-code {
      width: calc(100% - 40px);
      height: calc(8vw);
      font-size: 6vw;
      color: #fff;
      font-family: "JetBrains Mono", monospace;
      padding-left: 2vw;
      letter-spacing: 4.2vw;
      border-bottom: 2px solid #fff;
    }
    .settings {
      width: calc(100% - 80px);
      height: calc(100% - 200px);
      margin-bottom: 40px;
      color: #fff;
      font-family: "JetBrains Mono", monospace;
      font-size: 1.5em;
      position: relative;

      .container {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .app-lobby-settings {
          margin-top: 15px;
          height: 95%;
          width: 70%;
        }

        .map {
          height: 15vw;
          width: 15vw;
          background-color: #fff;
        }
      }
    }
  }

  .player-list {
    width: 20%;
    height: 90%;
  }
}
