@import "./src/scss/variables";

.simulation-stats {
  position: absolute;
  top: 5%;
  right: 50px;
  height: 90%;
  width: 20%;
  background-color: $default-black;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;

  .prog {
    color: #fff;
    font-size: 1.8em;
    margin: 20px 0;
    font-family: "JetBrains Mono", monospace;
  }

  .timer {
    color: #fff;
    font-size: 3.8em;
    margin: 20px 0;
    font-family: "JetBrains Mono", monospace;
  }

  .splitter {
    width: 80%;
    height: 2px;
    background-color: #fff;
  }

  .scroll {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 40px;

    .titel {
      color: #fff;
      font-size: 2em;
      margin: 20px 0 10px 0;
      font-family: "JetBrains Mono", monospace;
    }
    .stat {
      color: #fff;
      font-size: 1.2em;
      margin-top: 20px;
      font-family: "JetBrains Mono", monospace;
    }

    .value {
      color: #fff;
      font-size: 1.4em;
      margin: 0;
      font-family: "JetBrains Mono", monospace;
    }
  }
}
