<div class="ide-container">
  <div class="terminals-container">
    <div
      cdkDropList
      #terminalList="cdkDropList"
      [cdkDropListData]="terminal"
      class="drop-terminal drag-list drag-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="draggable-item"
        *ngFor="let item of terminal; let i = index"
        cdkDrag
      >
        <app-dragdrop-command
          [isDeletable]="true"
          [command]="item"
          (onDelete)="deleteFromTerminal(i)"
        ></app-dragdrop-command>
      </div>
    </div>
  </div>
  <div
    cdkDropList
    #commandsList="cdkDropList"
    [cdkDropListData]="commands"
    [cdkDropListConnectedTo]="[terminalList]"
    class="commands-container drag-list"
    (cdkDropListDropped)="drop($event)"
    cdkDropListSortingDisabled
  >
    <div class="draggable-item" *ngFor="let item of commands" cdkDrag>
      <app-dragdrop-command
        [isDeletable]="false"
        [command]="item"
      ></app-dragdrop-command>
    </div>
  </div>
</div>
