@import "./src/scss/variables";

.player-list {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: $default-black;
  position: relative;

  .titel {
    width: 100%;
    height: 3.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em;
    font-family: "JetBrains Mono", monospace;
  }

  .player-container {
    width: 100%;
    height: calc(100% - 6em);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-flow: column;

    .player {
      width: 80%;
      height: 60px;
      border-radius: 60px;
      background-color: rgb(172, 172, 172);
      margin: 5px 0;
      font-size: 1.4em;
      color: #fff;
      font-family: "JetBrains Mono", monospace;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &.self {
        border: 4px solid rgb(0, 247, 255);
      }

      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 35px;
          height: 35px;
          position: relative;
          right: 1px; //ugly fix for a weird bug :)
        }
      }

      .is-ready {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;

        .check {
          color: rgb(87, 255, 53);
        }

        .times {
          color: rgb(255, 49, 49);
        }
      }

      .kick-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        color: rgb(255, 49, 49);
        transition: all 100ms ease-in;
        border-radius: 60px;

        fa-icon {
          cursor: pointer;
        }
      }
    }

    .player:hover {
      .kick-overlay {
        display: flex;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .spliter {
      height: 1px;
      width: 70%;
      background-color: #fff;
      margin: 10px 0;
    }
  }

  .player-ready {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    border-top: 3px solid #fff;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    font-size: 1.6em;
  }
}
