<div class="simulation-leaderboard">
  <div class="titel">Leaderboard</div>
  <div class="splitter"></div>
  <div
    class="rank-container"
    *ngIf="simulationStatsService.simulationStatistics.playerColors[0]"
  >
    <div
      class="player first"
      [ngClass]="{
        self:
          getBotName(0, false) ==
          currentLobby!.player.get(firebaseUser.uid)!.name
      }"
      [style.background-color]="
        byteColorMap.get(
          simulationStatsService.simulationStatistics.playerColors[0].color.toString()
        )
      "
    >
      <div class="icon robo">
        <img [src]="'assets/userIcons/' + getBotName(0, true) + '.svg'" />
      </div>
      {{ getBotName(0, false) }}
      <div class="icon rank">
        <img [src]="'assets/trophy.svg'" />
      </div>
    </div>
  </div>

  <div
    class="rank-container"
    *ngIf="simulationStatsService.simulationStatistics.playerColors[1]"
  >
    <div
      class="player second"
      [ngClass]="{
        self:
          getBotName(1, false) ==
          currentLobby!.player.get(firebaseUser.uid)!.name
      }"
      [style.background-color]="
        byteColorMap.get(
          simulationStatsService.simulationStatistics.playerColors[1].color.toString()
        )
      "
    >
      <div class="icon robo">
        <img [src]="'assets/userIcons/' + getBotName(1, true) + '.svg'" />
      </div>
      {{ getBotName(1, false) }}
      <div class="icon rank">
        <img [src]="'assets/trophy - second.svg'" />
      </div>
    </div>
  </div>

  <div
    class="rank-container"
    *ngIf="simulationStatsService.simulationStatistics.playerColors[2]"
  >
    <div
      class="player third"
      [ngClass]="{
        self:
          getBotName(2, false) ==
          currentLobby!.player.get(firebaseUser.uid)!.name
      }"
      [style.background-color]="
        byteColorMap.get(
          simulationStatsService.simulationStatistics.playerColors[2].color.toString()
        )
      "
    >
      <div class="icon robo">
        <img [src]="'assets/userIcons/' + getBotName(2, true) + '.svg'" />
      </div>
      {{
        simulationService.simulation.bots.get(
          simulationStatsService.simulationStatistics.playerColors[2].color
        )!.name
      }}
      <div class="icon rank">
        <img [src]="'assets/trophy - third.svg'" />
      </div>
    </div>
  </div>
</div>
