<div
  class="command-container"
  [ngClass]="{
    when: command.type == 'if'
  }"
>
  <div *ngIf="isPreview" class="preview">
    <div>if (<i>var</i> <i> == </i> <i>value</i>) &#123;</div>
  </div>
  <div *ngIf="!isPreview" class="interactive">
    <div class="logic-test">
      if (
      <mat-form-field class="value">
        <mat-select
          (selectionChange)="logicTestChanged()"
          [(value)]="logicTest.variable"
        >
          <mat-option *ngFor="let v of variables" [value]="v">
            {{ v }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="operator">
        <mat-select
          (selectionChange)="logicTestChanged()"
          [(value)]="logicTest.operator"
        >
          <mat-option *ngFor="let op of operators" [value]="op">
            {{ op }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="value">
        <mat-select
          (selectionChange)="logicTestChanged()"
          [(value)]="logicTest.value"
        >
          <mat-option value="option1">true</mat-option>
          <mat-option value="option2">false</mat-option>
        </mat-select>
      </mat-form-field>

      )&#123;
    </div>
    <div class="delete" *ngIf="isDeletable">
      <fa-icon (click)="delete()" [icon]="faDelete"></fa-icon>
    </div>
  </div>
</div>
