@import "./src/scss/variables";

.command-container {
  position: relative;
  &.when {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: rgb(156, 156, 156);
    font-family: "JetBrains Mono", monospace;
    font-size: 1em;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: left;
    padding: 0 10px;
  }

  .preview {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .interactive {
    width: 300px;
    height: 50px;
    mat-form-field {
      font-size: 0.8em;
      margin: 3px;
      color: black;
      border: none !important;

      ::ng-deep .mat-select-arrow {
        border: none;
      }

      ::ng-deep .mat-select-trigger {
        text-align: center;
      }

      ::ng-deep .mat-form-field-flex {
        padding: 0;
      }

      ::ng-deep .mat-select-min-line {
        color: black;
        font-family: "JetBrains Mono", monospace;
      }
    }

    .value {
      width: 75px;
    }
    .operator {
      width: 30px;
    }
  }

  .delete {
    cursor: pointer;
    color: red;
    position: absolute;
    font-size: 1em;
    top: 1px;
    right: 4px;
  }
}
