<div
  class="battle-map-container"
  [ngClass]="{
    botCursor: placingBot
  }"
  *ngIf="simulationService.simulation.statusVar.simulationGenerated"
>
  <div
    class="tile-row"
    *ngFor="
      let item of fakeArray(simulationService.simulation.size[0]);
      let i = index
    "
  >
    <div
      class="tile"
      [ngClass]="{
        botCursor: placingBot,
        banCursor: getBattleMapBufferValue(i, j) == 1 && placingBot,
        placing: getBattleMapBufferValue(i, j) != 1 && placingBot
      }"
      *ngFor="
        let item of fakeArray(simulationService.simulation.size[1]);
        let j = index
      "
      [style.background-color]="
        byteColorMap.get(getBattleMapBufferValue(i, j).toString())
      "
      (click)="tileSelected(i, j)"
    ></div>
  </div>
</div>

<!--       [ngClass]="{
        white: getBattleMapBufferValue(i, j) == 0,
        black: getBattleMapBufferValue(i, j) == 1,
        red: getBattleMapBufferValue(i, j) == 2,
        darkred: getBattleMapBufferValue(i, j) == 3
      }" -->
