<div class="lobby-select">
  <span class="label" (click)="setAuth()">Join private lobby:</span>
  <div class="top-line">
    <div class="private-lobby-code-container">
      <app-private-lobby-code></app-private-lobby-code>
    </div>
    <div class="new-lobby-button" (click)="createNewLobby()">
      Create new Lobby
    </div>
  </div>
  <span class="label" (click)="clearAuth()">Public lobbys:</span>
  <div class="public-lobbys-container">
    <app-public-lobbys></app-public-lobbys>
  </div>
</div>
