<div class="create-lobby-container">
  <div class="lobby-infos">
    <div class="lobby-code">{{ lobby!.settings.id }}</div>
    <div class="settings">
      <div class="container">
        <div class="app-lobby-settings">
          <app-lobby-settings></app-lobby-settings>
        </div>
        <div class="map">
          <app-battle-map></app-battle-map>
        </div>
      </div>
    </div>
  </div>

  <div class="player-list" *ngIf="lobby">
    <app-player-list [player]="lobby.player" [admin]="lobby.adminUid">
    </app-player-list>
  </div>
</div>
