@import "./src/scss/variables";

.editor-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-around;

  .ide-container {
    width: 68%;
    height: 90%;
  }

  .side-panel {
    height: 90%;
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    .info-container {
      height: 49%;
      width: 100%;
      border-radius: 15px;
      background-color: $default-black;
      position: relative;

      .label {
        position: absolute;
        top: 15px;
        left: 15px;
        color: #fff;
        z-index: 10;
        font-size: 1em;
        font-family: "JetBrains Mono", monospace;
      }

      .terminal {
        width: 100%;
        height: calc(100% - calc(37px + 1em));
        position: absolute;
        top: calc(37px + 1em);
      }

      .toggle {
        position: absolute;
        top: 10px;
        right: 10px;

        ::ng-deep .mat-button-toggle {
          height: 2em;
          background-color: rgb(48, 48, 48);
        }

        ::ng-deep .mat-button-toggle-checked {
          background-color: #fff;
          color: #000;
        }
        .icon {
          position: relative;
          bottom: 7px;
          width: 1em;
          font-size: 0.7em;
        }
      }
    }

    .bottom-right {
      height: 49%;
      width: 100%;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .map-container {
        margin: 0 10px 0 0;
        height: 100%;
        width: 80%;
        border-radius: 15px;
        background-color: $default-black;
        display: flex;
        justify-content: center;
        align-items: center;

        .map {
          width: calc(100% - 25px);
          height: calc(100% - 25px);
        }
      }
      .controls {
        height: 100%;
        width: 20%;
        margin: 0 0 0 5px;
      }
    }
  }
}
