<div class="editor-container">
  <div class="ide-container">
    <app-editor-ide> </app-editor-ide>
  </div>
  <div class="side-panel">
    <div class="info-container">
      <div class="toggle">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">Bold</mat-button-toggle>
          <mat-button-toggle value="italic">Italic</mat-button-toggle>
          <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="bottom-right">
      <div class="map-container">
        <div class="map">
          <app-battle-map></app-battle-map>
        </div>
      </div>
      <div class="controls">
        <app-battle-map-controls></app-battle-map-controls>
      </div>
    </div>
  </div>
</div>
