<div class="terminal-container">
  <div
    cdkDropList
    #terminalList="cdkDropList"
    [cdkDropListData]="terminalCommands"
    class="drop-terminal drag-list drag-list terminal-scrollbar"
    (cdkDropListDropped)="drop($event)"
  >
    <div
      [style.margin-left.px]="item.indent"
      class="draggable-item"
      *ngFor="let item of terminalCommands; let i = index"
      cdkDrag
      [cdkDragDisabled]="undraggable.indexOf(item.type) != -1"
      (cdkDragStarted)="dragStarted($event, i)"
      (cdkDragMoved)="dragMoved($event)"
      (drag)="dragMoved($event)"
    >
      <app-dragdrop-command
        *ngIf="!isLogic(item) && !isCodeFunction(item)"
        [isDeletable]="true"
        [command]="item"
        (onDelete)="deleteFromTerminal(i, true)"
      ></app-dragdrop-command>

      <app-dragdrop-logic-command
        *ngIf="isLogic(item)"
        [isDeletable]="true"
        [isPreview]="false"
        [setCommand]="item"
        (onDelete)="deleteFromTerminal(i, true)"
        (logicTestData)="item.test = $event"
      ></app-dragdrop-logic-command>

      <app-dragdrop-code-function
        *ngIf="isCodeFunction(item)"
        [isDeletable]="true"
        [isPreview]="false"
        [setCommand]="item"
        (onDelete)="deleteFromTerminal(i, true)"
        (commandData)="item.data = $event"
      >
      </app-dragdrop-code-function>

      <app-dragdrop-preview
        *cdkDragPreview
        [previewCommands]="currentDragPreviewCommands"
      ></app-dragdrop-preview>
    </div>
  </div>
</div>
